# Database
DATABASE_URL="mongodb+srv://user:password@cluster0.mongodb.net/carriva?retryWrites=true&w=majority"

# Redis Cache
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# AI Provider Configuration
# Set to 'mock', 'anthropic', 'openai', or 'google'
AI_PROVIDER="mock"

# AI Models (Optional, defaults set in ai/service.ts)
# AI_MODEL="gpt-4o"
GOOGLE_AI_MODEL="gemini-1.5-flash"
OPENAI_AI_MODEL="gpt-4o"
ANTHROPIC_AI_MODEL="claude-3-5-sonnet-20241022"

# API Keys (Only the selected provider's key is required)
ANTHROPIC_API_KEY=""
OPENAI_API_KEY=""
GOOGLE_AI_API_KEY=""
